doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    script(src='/javascripts/mainFetch.js' type="module")
    script(src='/javascripts/formHandler.js' type="module")
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap' rel='stylesheet')
    block head
      title="Cub's Practice App"
      link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    nav 
      a(href='/') The Weather 
      if locals.authenticated 
        span(id='welcomeMessage') Welcome #{user.username}!
        form(action='/users/logout' method='post')
          button(type='submit' id='logoutButton') Logout
      else
          span(class='navbar-text px-4')
            a(class='btn btn-sm btn-dark mr-2' href='/users/login') Login
            a(class='btn btn-sm btn-dark' href='/users/register') Register
    block content
