h1 {
    color: #555555;
}

#Background {
    background-color: #555555;
    display: flex;
    height: 80vh;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

#searchForm {
    display: flex;
}

#weatherInfo {
    background-color: #666666;
    max-width: 500px;
    min-width: 300px;
    /* --parentWidth: 50%;
    width: var(--parentWidth); */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-top: 10vh;
}

.weatherField {
    /* width: calc(var(--parentWidth) / 4); */
    border: 1px solid black;;
    width: 90%;
    box-sizing: border-box;
    padding: 5px;
    margin: 5px;
    font-weight: bold;
    font-size: large;
}

#refreshWeather {
    max-width: 100px;
}

#rockContainer {
    width: 100px;
    height: 300px;
    transform-origin: top center;
    animation: rockSwing0 1s infinite;
    animation-timing-function: ease-in-out;
}

@keyframes rockSwing0 {
    from {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-1deg);
    }
    to {
        transform: rotate(0deg);
    }
}
@keyframes rockSwing1 {
    from {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes rockSwing2 {
    from {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-30deg);
    }
    to {
        transform: rotate(10deg);
    }
}

@keyframes rockSwing3 {
    from {
        transform: rotate(-30deg);
    }
    50% {
        transform: rotate(-60deg);
    }
    to {
        transform: rotate(-30deg);
    }
}

@keyframes rockSwing4 {
    from {
        transform: rotate(-60deg);
    }
    50% {
        transform: rotate(-75deg);
    }
    to {
        transform: rotate(-60deg);
    }
}

#rock {
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
    position: relative;
    top: 200px;
}

#string {
    width: 10px;
    height: 200px;
    background: yellow;
    position: relative;
    top: -100px;
    left: 45px;
}